.avatarRoot {
    position: relative;
    display: flex;
    height: 2.5rem; /* 40px */
    width: 2.5rem;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 9999px;
}

.avatarImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.avatarFallback {
    display: flex;
    /*height: 100%;*/
    /*width: 100%;*/
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background: var(--gradient-divine);
    box-shadow: var(--shadow-divine);
    color: hsl(var(--primary-foreground));
    /*font-weight: 500;*/
    /*border-radius: 9999px;*/
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 600;
    font-size: 1rem;
}
